@import "../variables.scss";
@import "../mixins.scss";
#shop{
    text-align: center !important;
    width: 80%;
    h2{
        color:#fff;
        line-height: 0.9 !important;
        text-align: center !important;
        margin-bottom: 0.1 !important;
    }
    h3{
        color:#fff;
        line-height: 0.9 !important;
        margin-bottom: 0.1 !important;
        text-align: center !important;
    }
    p{
        color:#fff;
        line-height: 0.9 !important;
        text-align: center !important;
        margin-bottom: 0.1 !important;
    }
    padding-top: 50px;
    .claim-shop-btn{
        background-color: $red;
        color:#fff;
        width: 200px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin: auto;
        cursor: pointer;
       
    }
    .col-md-3{
        width: 30%!important;
    }
}