@import "../variables.scss";
@import "../mixins.scss";
.animate-hamburger {
    transform: rotate(45deg);
    .line2 {
      transform: translateX(15vw);
      background-color: red;
  
      @include mq($xls) {
        transform: translateX(15vh);
      }
    }
  
    .line3 {
      position: relative;
      top: -12.5px;
      transform: rotate(90deg);
    }
  
    .line1 {
      position: relative;
      top: 12.5px;
      // transform: rotate(-45deg);
    }
  }
  
  .interview:hover{
   color:#000 !important
  }
  .fixed-menu {
    position: fixed !important;
    top: 0 !important;
    min-width: 100vw;
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(31px);
    -webkit-backdrop-filter: blur(31px);
  
    border-radius: 0px 0px 20px 20px;
    transition: background-color 2s;
  }
  .scrolled{
   background-color: rgba(0,0,0,.8);
  }
  
  #links {
    min-height: 100vh;
    background-color: $black_ligtened;
    min-width: 100%;
    padding: 0px;
    // position: fixed;
  
    left: 0px;
    right: 0px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    overflow-y: scroll;
    @include scroll-bar-hidden;
  
    @include mq($xls) {
      flex-direction: column;
    }
    a {
      color: $white;
    }
  
    .nav {
      min-width: 49%;
      max-width: 49%;
      height: 100%;
      min-height: 100vh;
      max-height: 100vh;
      display: grid;
      place-items: center;
      pointer-events: none;
  
      @include mq($xls) {
        min-width: 100%;
        height: auto !important;
        min-height: 0px;
        padding-top: 75px;
        padding-bottom: 45px;
      }
  
      .link-address {
        // margin-top:1.5vh;
        margin-bottom: 2.0vh;
        height: auto;
        pointer-events: auto;
  
        .number {
          margin-right: 10px;
          @include poppins-regular-16;
          font-family: $Heebo_Light;
          text-rendering: optimizeLegibility;
          color: $gray_color;
          font-size: 16px;
  
          @include mq($xlg) {
            font-family: $Heebo_Regular;
            font-weight: 100;
          }
        }
  
        .actual-link {
          @include poppins-regular-16;
          color: $white;
          font-family: $GTSectraDisplay_Bold;
          font-size: 1.8em;
          user-select: none;
          text-rendering: optimizeLegibility;
        }
  
        .active {
          color: $red;
  
          &:hover {
            color: $red;
          }
        }
  
        .address-location {
          margin-bottom: 2vh;
          // display:flex;
          flex-direction: row;
        }
      }
    }
  
    .location {
      min-width: 30%;
      height: 100vh;
      display: grid;
      place-items: center;
  
      @include mq($md) {
        width: 100%;
        height: auto;
      }
      .address-location {
        margin-bottom: 2vh;
        // display:flex;
        flex-direction: row;
      }
  
      .social-icon-time {
        display: flex;
        flex-direction: row;
  
        .address-items {
          flex: auto;
          font-family: $Heebo_Light;
          text-rendering: optimizeLegibility;
          font-size: 12px;
          color: $white;
          line-height: 2;
  
          @include mq($xlg) {
            font-family: $Heebo_Regular;
          }
  
          // margin-right:3vh;
        }
      }
  
      .address-location-below {
        display: flex;
        flex-direction: row;
  
        .text-inside {
          font-family: $Heebo_Light;
          text-rendering: optimizeLegibility;
          font-size: 18px;
          color: $white;
          line-height: 2;
  
          @include mq($xlg) {
            font-family: $Heebo_Regular;
          }
        }
  
        .text-number {
          font-family: $Heebo_Light;
          text-rendering: optimizeLegibility;
          font-size: 9.6px;
          color: $gray_color;
          margin-right: 7px;
  
          @include mq($xlg) {
            font-family: $Heebo_Regular;
          }
        }
  
        .right-text {
          float: right;
          flex: auto;
        }
  
        .left-text {
          flex: auto;
          margin-right: 3vh;
        }
      }
  
      .title {
        font-family: $Heebo_Light;
        text-rendering: optimizeLegibility;
        color: $white;
        font-size: 18px;
        text-decoration: none;
        line-height: 2;
  
        @include mq($xlg) {
          font-family: $Heebo_Regular;
          font-weight: 100;
        }
      }
  
      .supporting {
        font-size: 12px;
        line-height: 2;
        text-decoration: none;
        color: $gray_color;
        font-family: $Heebo_Light;
        text-rendering: optimizeLegibility;
  
        @include mq($xlg) {
          font-family: $Heebo_Regular;
        }
      }
    }
  
    .line-art {
      flex: auto;
      max-width: 0.5px;
      min-width: 0.5px;
      background-color: $gray_color;
      opacity: 0.1;
      height: 100vh;
  
      @include mq($xls) {
        display: none;
      }
    }
  
    .cancel-btn {
      float: left;
      z-index: 10;
      position: absolute;
      // top:32px;
      left: 0px;
      width: 100%;
  
      #cancel-img {
        width: 50px;
        height: auto;
        float: right;
        opacity: 0.6;
      }
    }
  }
  
  #menu-main-item{
    position: absolute;
    z-index:100;
    left: 0;
    top:10px;
    min-width: 100%;
    transition: all ease-out 0.3s;
    // @include mq($xxlg) {
    //   padding-left: 10vw;
    //   padding-right: 10vw;
    // }
    @include mq($xlg) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq($lg) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .mobile-nav {
      min-width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      // position: absolute;
      @include mq($md) {
        max-width: calc(100vw - 0px);
      }
      .rounded-circle {
        width: 45px;
        height: 45px;
        background: url($root+"/assets/ico/logo.jpeg");
        @include background-img;
        position: relative;
      }
  
      .links {
        a {
          font-family: $Heebo_Regular;
          font-weight: normal;
          font-size: 1em;
          text-align: left;
          color: #fff;
          margin-right: 2.5em;
          @include transition;
          align-self: center;
  
          &:last-child {
            margin-right: 4em;
          }
  
          &:hover {
            color: $red;
          }
  
          @include mq($lg) {
            display: none;
          }
        }
      }
  
      .cta {
  
        .log-in {
          font-family: $Heebo_Regular;
          font-weight: normal;
          font-size: 1em;
          text-align: left;
          color: $white;
          margin-right: 2.25em;
          cursor: pointer;
  
          a {
            color: $white;
  
            &:hover {
              color: $red;
            }
          }
  
          @include transition;
          align-self: center;
  
          @include mq($lg) {
            font-size: 0.7em;
          }
          @include mq($xls) {
            display: none !important;
          }
        }
        .register {
          width: 175px;
          height: 45px;
          border-radius: 9px;
          background: $red;
          display: grid;
          place-items: center;
          @extend .log-in;
          color: $white;
  
          &:hover {
            color: $white;
          }
  
          @include mq($lg) {
            height: 40px;
          }
        }
  
        .interview {
          @extend .register;
          background: #10F8D4;
          color:#077777;
        }
  
        .menu-icon {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          z-index: 500;
          // right: 15px;
          @include transition;
           display: none;
  
          @include mq($lg) {
            display: flex;
          }
  
          .line1,
          .line2,
          .line3 {
            width: 30px;
            height: 2px;
            background-color: $white;
            margin-bottom: 10px;
            @include transition;
          }
  
          .line2 {
            width: 15px;
            height: 2px;
            align-self: flex-end;
          }
        }
      }
  
      
    }
  }

  #service-link {
    display: none;
    width: 0px;
    overflow: hidden;
    height: 0;
  }
  