@font-face {
    font-family: OpenSans-Bold;
    src: url("../../public/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("../../public/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: OpenSans-Light;
    src: url("../../public/fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: OpenSans-Regular;
    src: url("../../public/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url("../../public/fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: Poppins-extra-bold;
    src: url("../../public/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: Philosopher-Bold;
    src: url("../../public/fonts/Philosopher-Bold.ttf");
}
@font-face {
    font-family: Philosopher-Regular;
    src: url("../../public/fonts/Philosopher-Regular.ttf");
}
@font-face {
    font-family: Gilroy_Bold;
    src: url("../../public/fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy_Medium;
    src: url("../../public/fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: GTSectraDisplay_Bold;
    src: url("../../public/fonts/GTSectraDisplay-Bold.ttf");
}

@font-face {
    font-family: GTSectraDisplay_Regular;
    src: url("../../public/fonts/GTSectraDisplay-Regular.ttf");
}

@font-face {
    font-family: Heebo_Light;
    src: url("../../public/fonts/Heebo-Light.ttf");
}

@font-face {
    font-family: Heebo_Medium;
    src: url("../../public/fonts/Heebo-Medium.ttf");
}

@font-face {
    font-family: Heebo_Regular;
    src: url("../../public/fonts/Heebo-Regular.ttf");
}

@font-face {
    font-family: SFPRODISPLAYBOLD;
    src: url("../../public/fonts/SFProDisplay-Heavy.ttf");
}

@font-face {
    font-family: SFPRODISPLAYMEDIUM;
    src: url("../../public/fonts/SFProDisplay-Medium.ttf");
}
@font-face {
    font-family: SFPRODISPLAYSEMIBOLD;
    src: url("../../public/fonts/SFProDisplay-Semibold.ttf");
}

@font-face {
    font-family: SFPRODISPLAYREGULAR;
    src: url("../../public/fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: SFProDisplay_Thin;
    src: url("../../public/fonts/SFProDisplay-Thin.ttf");
}